<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.id = current_user.id %>

  <%= render partial: 'characters/user_characters' %>

<% else %>
  <p>
    <strong>Characters:</strong>
    <% @user.characters.each do |char| %>
    	<%= char.name %>
    <% end %>
  </p>
<% end %>

<% if current_user.selected_character %>
  <p>
    <strong>Recieved Battle Requests:</strong><br>
    <% @user.selected_character.received_battle_requests.each do |br| %><br>
      ID: <%= br.id %> | Target: <%= br.receiver %> | Sender: <%= br.sender %><br>
      Wager: <%= br.wager %> | Message: <%= br.message %><br>
    <% end %>
  </p>
  <p>
    <strong>Sent Battle Requests:</strong><br>

    <% @user.selected_character.sent_battle_requests.each do |br| %><br>
      ID: <%= br.id %> | Target: <%= br.receiver %> | Sender: <%= br.sender %><br>
      Wager: <%= br.wager %> | message: <%= br.message %><br>
    <% end %>
  </p>
<% else %>
  x

<% end %>
