<div class ="container">
	<%= "Battle Request from #{@battle_request.sender.name}" %>
	<br>
	<%= @battle_request.message %><br>
	<%= "Wager: $#{@battle_request.wager}" %>
	<%= debug params %>


	
		<%= link_to "Accept", battle_accept_path, method: :post  %> |
		 <%= link_to "Decline", battle_decline_path(@battle_request.id), method: :post %>
	
</div>