<div class="container">

  <div class="character_container">
    <h2><%= @character.name %></h2>

    <div class="avatar_display">
    </div><div class="stats_table">
      <table>
        <tbody>
            <tr>
              <td>Level :</td>
              <td><%= @character.level %></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
              <td>HP :</td>
              <td><%= "#{@character.current_hp}/#{@character.max_hp}" %></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
              <td>MP :</td>
              <td><%= "#{@character.current_mp}/#{@character.max_mp}" %></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
              <td>Strength :</td>
              <td><%= @character.stat_strength %></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
              <td>Dex :</td>
              <td><%= @character.stat_dex %></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
              <td>Luck :</td>
              <td><%= @character.stat_luck %></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
              <td>Int :</td>
              <td><%= @character.stat_int %></td>
            </tr>
        </tbody>
      </table>
      <%= link_to "Battle!",  request_battle_path(@character.id) %>
    </div>

    <% @skills.each do |skill| %>
      <p><%= "Skill id: #{skill.id}, Skill level: #{skill.level}" %></p>
    <% end %>

    
  </div>
</div>