<div class="container">

	<div class="store_welcome">
		
		<%= image_tag(@vendor.owner_image) %><!--
		--><div class="welcome_message"><h2><%= @vendor.name%></h2> 
			<p>
				Vice meggings actually, hella narwhal skateboard Pinterest master cleanse PBR&amp;B photo booth tote bag. Post-ironic salvia wolf +1 mustache flexitarian put a bird on it cardigan fingerstache, sustainable Banksy. Post-ironic fashion axe XOXO, retro paleo fingerstache single-origin coffee art party letterpress whatever viral sartorial food truck 90's.
			</p>
		</div>
	</div>

	<div class="inventory_container">
		<% @vendor.items.each do |i| %>
		<% item = i.subclass %>

				<div class="item_card" data-category="<%= i.subclass_type.downcase %>" >
					<h3><%= item.name %></h3>
					<%= link_to image_tag(item.image_url), item_path(i.id) , data: {name: item.name, type: i.subclass_type.downcase, image: item.image_url, desc: item.description}, class: "item_image" %>
					<%= link_to vendor_item_purchase_path(vendor_id:@vendor.id, item_id: i.id), class: "purchase_link" do %>
						<div class="buy_item">
							<p><%= "$#{item.base_price}" %></p>
							<p>Buy</p>
						</div>
					<% end %>

				</div>
		<% end %>
	</div>







</div>