<div class="container">

	<h1>Battle!</h1><br>

	<div class="arena no_select">

		<div class="foreground"></div>
		<div class="arena_shadow"></div>
		<div class="background"></div>
		<div class="far-background"></div>

		<%= render "layouts/hud_panel" %>
	

		<div class= 'player player_1' data-char="<%= @player1.id %>">
					<%= image_tag @player1.avatar_url %>

		</div>

		<div class= 'player player_2' data-char="<%= @player2.id %>">
					<%= image_tag @player2.avatar_url %>
		</div>

		<div class="options_panel">
			
			<div class="attack_selection off"></div>
			<div class="item_selection off"></div>

			<div class="skill_dropdown">
    		<span class="label">Select Skill</span>
    		<div class="skills_container">
	    		<ul class="skill_options">
		        <li data-id="32">Skill 1</li>
		        <li data-id="45">Skill 2</li>
		        <li data-id="10">Skill 3</li>
		        <li data-id="30">Skill 4</li>
		        <li data-id="8">Skill 5</li>
	    		</ul>
	    	</div>
	    	<div class="items_container">
	    		<ul class="item_options">
		        <li data-id="32">Item 1</li>
		        <li data-id="24">Item 2</li>
		        <li data-id="12">Item 3</li>
	    		</ul>
    		</div>
			</div>


			<div class="aggression_dropdown">
    		<span class="label">Select Style</span>
    		<div class="aggression_container">
	    		<ul class="aggression_options">
		        <li>Aggression 1</li>
		        <li>Aggression 2</li>
		        <li>Aggression 3</li>
	    		</ul>
    	</div>
			</div>

			<div class="go_button">Go!</div>

		</div>

		<% if @battle.winner %>
			<div class="outcome">

				<h1><%= @battle.outcome %></h1>

				<%= link_to battle_session_path(current_char.battle_session.id), method: :delete, class: "button" do %><div>
						<h4>Leave</h4>
				</div><% end %>
				

			</div>
		<% end %>
		
	</div>

	<div class="turn_container">
		<% @battle.turns.reverse.each do |turn| %>

			<%= render "layouts/turn_display", turn: turn, current: @player1, opponent: @player2 %>

		<% end %>
	</div>






</div>