<div class="container">

	<h1>Battle!</h1><br> 

	<div class="round_summary">
		<% if params[:dmg].to_i > 0 %>
			<%= "#{params[:dmg]}  #{'(Critical!)' if params[:cr]}" %>
		<% end %>
	</div>

	<div class="arena">
		<div class="foreground"></div>
		<div class="arena_shadow"></div>
		<div class="background"></div>
		<div class="far-background"></div>
	

		<div class= 'player player_1' data-char="<%= @player1.id %>">
					<h2><%= @player1.name %></h2>

					<div class="p1_battle_avatar <%= 'hit' if @battle.status.to_i == @player1.id  %> ">

					</div>

					<h4><%= "#{@player1.current_hp}/#{@player1.max_hp}" %></h4>
					<h4><%= "#{@player1.current_mp}/#{@player1.max_mp}" %></h4>

		</div>

		<div class= 'player player_2' data-char="<%= @player2.id %>">
					<h2><%= @player2.name %></h2>

					<div class="p2_battle_avatar <%= 'hit' if @battle.status.to_i == @player2.id  %>">

					</div>

					<h4><%= "#{@player2.current_hp}/#{@player2.max_hp}" %></h4>
					<h4><%= "#{@player2.current_mp}/#{@player2.max_mp}" %></h4>

		</div>

	<div class="skills_panel">

	<p><strong>Skills:</strong>| <% current_char.attacks.each do |att| %>
			<%= link_to attack_url(att.id, ch: @player2.id), method: :post do %>
				<%= att.title %>
			<% end %> | 
		<% end %></p>

	</div>

		
	</div>





</div>