<div class="container">

	<h1>Battle!</h1><br>
	<h3><%# @battle.outcome %></h3>

	<div class="arena">

		<div class="foreground"></div>
		<div class="arena_shadow"></div>
		<div class="background"></div>
		<div class="far-background"></div>

		<%= render "layouts/hud_panel" %>
	

		<div class= 'player player_1' data-char="<%= @player1.id %>">
					<%= image_tag @player1.avatar_url %>

		</div>

		<div class= 'player player_2' data-char="<%= @player2.id %>">
					<%= image_tag @player2.avatar_url %>
		</div>

		<div class="skills_panel">
			<p><strong>Skills:</strong>| <% current_char.attacks.each do |att| %>
				<%= link_to attack_url(att.id, ch: @player2.id), method: :post do %>
					<%= att.name %>
				<% end %> | 
			<% end %></p>
		</div>

		<% if @battle.winner %>
			<div class="outcome">

				<h1><%= @battle.outcome %></h1>

				<%= link_to battle_session_path(current_char.battle_session.id), method: :delete, class: "button" do %><div>
						<h4>Leave</h4>
				</div><% end %>
				

			</div>
		<% end %>
		
	</div>

	<div class="turn_container">
		<% @battle.turns.reverse.each do |turn| %>

			<%= render "layouts/turn_display", turn: turn, current: @player1, opponent: @player2 %>

		<% end %>
	</div>






</div>