<div class="container">
	<div class="arena no_select">


		<div class="player2_effect_container"><span class="hit_mark"></span></div>
		<div class="player1_effect_container"><span class="heal_mark"></span></div>
		<div class="waiting_container">
			<div class="waiting">
			<%= image_tag "loading/loading100.gif" %>
			<h4>Waiting For <br> Opponent</h4></div>
		</div>

		<div class="foreground"></div>
		<div class="arena_shadow"></div>
		<div class="background"></div>
		<div class="far-background"></div>

		<%= render "layouts/hud_panel" %>
	

		<div class= 'player player_1' data-char="<%= @player1.id %>">
					<%= image_tag @player1.avatar_url %>

		</div>

		<div class= 'player player_2' data-char="<%= @player2.id %>">
					<%= image_tag @player2.avatar_url %>
		</div>

		<div class="options_panel">
			
			<div class="attack_selection off"></div>
			<div class="item_selection off"></div>

			<div class="skill_dropdown">
    		<span class="label">Select Skill</span>
    		<div class="skills_container">
	    		<ul class="skill_options">
	    			<% @skills.each do |skill| %>
	    				<li data-id="<%= skill.id %>"><%= skill.name %></li>	
	    			<% end %>
	    		</ul>
	    	</div>
	    	<div class="items_container">
	    		<ul class="item_options">
		        <% @items.each do |item| %>
		        	<% @built = item.build_item %>
	    				<li data-id="<%= item.id %>"><%= @built.name %></li>	
	    			<% end %>

	    		</ul>
    		</div>
			</div>


			<div class="aggression_dropdown">
    		<span class="label">Select Style</span>
    		<div class="aggression_container">
	    		<ul class="aggression_options">
		        <li data-id="3">Aggresive</li>
		        <li data-id="2">Defensive</li>
		        <li data-id="1">Normal</li>
	    		</ul>
    	</div>
			</div>

			<div class="go_button">Go!</div>

		</div>

		<% if @battle.status == "ended" %>
			<div class="outcome">

				<h1><%= @battle.outcome %></h1>

				<%= link_to battle_session_path(current_char.battle_session.id), method: :delete, class: "button" do %><div>
						<h4>Leave</h4>
				</div><% end %>
				

			</div>
		<% end %>
		
	</div>

	<div class="turn_container">
		<div class="turn_fade"></div>
		<% @battle.turns.reverse.each do |turn| %>

			<%= render "layouts/turn_display", turn: turn, current: @player1, opponent: @player2 %>

		<% end %>
	</div>






</div>