<div class="equipped_panel">

	<div class="equipped_items_container">

		<div class="slot hat_slot">
			<div class="slot_background">Hat</div>
			<div class="item_holder" style="background-image: url( <%= asset_path current_char.hat.image_url %>)"></div>
		</div>

		<div class="slot top_slot">
			<div class="slot_background">Top</div>
			<div class="item_holder" style="background-image: url( <%= asset_path current_char.top.image_url %>)"></div>
			
		</div>

		<div class="slot bottoms_slot">
			<div class="slot_background">Bottoms</div>
			<div class="item_holder" style="background-image: url( <%= asset_path current_char.bottoms.image_url %>)"></div>
		</div>

		<div class="slot left_hand_slot">
			<div class="slot_background">Off Hand</div>
			<div class="item_holder" style="background-image: url( <%= asset_path current_char.left_hand.image_url %>)"></div>
		</div>

		<div class="slot right_hand_slot">
			<div class="slot_background">Weapon</div>
			<div class="item_holder" style="background-image: url( <%= asset_path current_char.right_hand.image_url %>)"></div>
		</div>

		<div class="slot shoes_slot">
			<div class="slot_background">Shoes</div>
			<div class="item_holder" style="background-image: url( <%= asset_path current_char.shoes.image_url %>)"></div>
		</div>

		<div class= "held_items">

			<div class="slot held1_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held1.image_url %>)"></div>
			</div><!--

			--><div class="slot held2_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held2.image_url %>)"></div>
			</div><!--

			--><div class="slot held3_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held3.image_url %>)"></div>
			</div><!--

			--><div class="slot held4_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held4.image_url %>)"></div>
			</div><!--
			
			--><div class="slot held5_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held5.image_url %>)"> </div>
			</div><!--

			--><div class="slot held6_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held6.image_url %>)"></div>
			</div><!--

			--><div class="slot held7_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held7.image_url %>)"></div>
			</div><!--

			--><div class="slot held8_slot">
				<div class="slot_background">Item</div>
				<div class="item_holder" style="background-image: url( <%= asset_path current_char.held8.image_url %>)"></div>
			</div>

		</div>

	</div>

</div>