  <div class="header_wrap">

    <%= render partial: 'layouts/user_admin_header' if current_user %>
    <%= render partial: 'layouts/messages_header' if current_user %>

    <div class="header main_header">

      <div class="header_stripe"></div>

      <div class="container">
        <a href="<%= root_path %>"><div class="logo"><h2>SomeGame <%=  %></h2></div></a>

        <div class="navbar">

          <ul class="nav login_out">
              
            <% if current_user %>

              <li><p><%= link_to "Battle!", battle_path(battle_session.battle.id) if battle_session %></p></li>

              <li>
                <%= link_to worldmap_path do %>
              <div class="map_block header_icon" data-expansion="none">
              </div>
                <% end %>
              </li>

              <li>
                <%= link_to inventory_path do %>
              <div class="inventory_block header_icon" data-expansion="none">
              </div>
                <% end %>
              </li>
    
              <li>
              <div class="messages_block header_icon" data-expansion="messages">
                <p><%= "#{current_message_count if current_message_count > 0 }" %><p>
              </div>
              </li>

              <li>
              <div class="settings_block header_icon" data-expansion="user">
              </div>
              </li>

             
              
            <% else !current_user %>
              <li><%= link_to "Sign Up!", new_user_path %>
              <li><%= link_to "Sign in", :login %></li>
            <% end %>

          </ul>
        
      </div>
    </div>
  </div>
</div>
<div class="header_fix"></div>
  <div class="messages_fix"></div>
  <div class="user_fix"></div>
