<div class="container">
	<div class="leaderboard_entry">
		<div class="summary">

			<div class="avatar_thumb">
				<%= image_tag character.avatar_url %>   
			</div>

			<div class="entry_details">

				<h3><span class="name"> <%= character.name %> </span></h3>
				  Level: <%= character.level %>
				Exp: <%= character.exp %> / <span class="exp"><%= level_exp(character.level) %></span><h3>

			</div>

			<% if !current_char %>


			<% elsif character.id != current_char.id %>
			<div class="leader_actions">
				<%= link_to (image_tag "battle_icon.png", type: "Send Battle Request"), request_battle_path(character.id) %>
				<%= link_to (image_tag  "messages.png", type: "Send Message"), "#" %>
			</div>
			<% end %>




		</div>
	</div>
</div>