

<% if turn.maker == @player1 %>
<div class="battle_turn defense_turn">
	<p> You hit <%= @player2.is_a?(Character) ? @player2.name : @player2.species.name %> with <%= turn.skill_used %> for
	<%= turn.damage %> damage!
	<%= "(Critical!)" if turn.critical %>
	</p>
<% else %>
<div class="battle_turn offense_turn">
	<p> <%= @player2.is_a?(Character) ? @player2.name : @player2.species.name %> hit you with <%= turn.skill_used %> for
	<%= turn.damage %> damage!
	<%= "(Critical!)" if turn.critical %>
	</p>
<% end %>

</div>



<!-- maker_id: integer, maker_type: string, target_id: integer, target_type: string, damage: integer, healed: integer, skill_used: string, skill_id: integer, skill_type: string, item_used: string, item_used_id: integer, item_used_type: string, created_at: datetime, updated_at: datetime, fight_id: integer, fight_type: string, critical: boolean -->