<!DOCTYPE html>
<html>
<head>
  <title>FightyTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="lightbox" data-content="<% if @splash %>splash<% end %>">
<div class="lightbox_dim"></div>
  <%= (render partial: 'layouts/splash') if @splash %>
</div>


<%= render partial: 'layouts/header' %>

<div class="page_wrap">

  <div class="notice">
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>


  <%= yield %>


<%= render partial: 'layouts/footer' %>
</div>

</body>
</html>
